.cookie-banner {
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.8);

  &--show {
    position: fixed;
    bottom: 0;
  }

  &--hide {
    display: none;
  }

  &__content {
    @media screen and (min-width: $lg) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__info {
    color: $white;
    font-size: $font-size-sm;
    padding-right: 75px;
  }

  &__btn {
    width: 200px;
    padding: 5px;
    border-radius: 25px;
    background: none;
    border: 1px solid $white;
    color: $white;
    font-size: $font-size-sm;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
