.hero-offer-form {
  margin-top: 30px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);

  @media screen and (min-width: $lg) {
    margin-top: 50px;
    background: $white;
    border-radius: 5px 5px 20px 20px;
    border: 1px solid $gray-300;
  }

  &__title {
    color: $white;

    @media screen and (min-width: $lg) {
      color: $black;
    }
  }

  &__form-info {
    color: $white;

    @media screen and (min-width: $lg) {
      color: $black;
    }
  }
  .input-row__label {
    color: $white;

    @media screen and (min-width: $lg) {
      color: $black;
    }
  }
}
