.intro-home {
  margin-top: 40px;
  background: #2c3a96;
  padding: 150px 0;

  &__content {
    padding-right: 50px;
    color: $white;
  }

  &__title {
    margin-bottom: 20px;
    color: $white;
  }

  &__list {
    margin: 0 0 0 15px;
    padding: 0;
  }

  &__list-item {
    margin: 5px 0 0;

    color: $white;
  }
}
