.intro-home {
  margin-top: 40px;
  background: #2c3a96;
  padding-bottom: 80px;

  @media screen and (min-width: $lg) {
    padding: 150px 0;
  }

  &__content {
    padding-right: 50px;
    color: $white;
    padding-top: 40px;

    @media screen and (min-width: $lg) {
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $white;
  }

  &__list {
    margin: 0 0 0 15px;
    padding: 0;
  }

  &__list-item {
    margin: 5px 0 0;

    color: $white;
  }
}
