.usps-home {
  margin-top: 40px;
  width: 100%;

  @media screen and (min-width: $lg) {
    padding: 50px 0 50px 0;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__usps {
    @media screen and (min-width: $lg) {
      display: flex;
    }
  }
}
