.usps-home {
  margin-top: 40px;
  width: 100%;

  @media screen and (min-width: $lg) {
    padding: 50px 0 50px 0;
  }

  &__header {
    padding: 0 0 10px;
    margin: 0 0 50px;
    border-bottom: 1px solid $gray-300;
  }

  &__usps {
    @media screen and (min-width: $lg) {
      display: flex;
    }
  }
}
