.contact-us-details {
  padding-top: 50px;
  width: 100%;

  @media screen and (min-width: $lg) {
    width: 80%;
  }

  &__title {
    padding: 0 0 20px;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 20px;
  }

  &__address {
    margin-bottom: 50px;
  }

  &__phone {
    font-size: $font-lg;
    margin-bottom: 50px;

    a {
      color: $font;
    }
  }
}
