.contact-us-form {
  margin-bottom: 40px;
  padding-top: 50px;

  @media screen and (min-width: $lg) {
    margin-bottom: 150px;
  }

  &__title {
    padding: 0 0 20px;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 20px;
  }
}
