@include google-font("Roboto", "300,400,700");
@include google-font("Lato", "300,400,700");

// Font family
$font-family-heading: "Lato";
$font-heading-weight: 400;
$font-family-body: "Roboto";
$font-body-weight: 400;

// Font size
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

$font-h1: 40px;
$font-h2: 30px;
$font-h3: 24px;
$font-h4: 18px;

// Colours
$white: #fff;
$black: #000;
$green: #3e8919;

$gray-100: #f7f7f7;
$gray-200: #eee;
$gray-300: #c8c8c8;

$cta: $green;
