@include google-font("Roboto", "300,400,700");
@include google-font("Lato", "300,400,700");

// Font family
$font-family-heading: "Lato";
$font-heading-weight: 400;
$font-family-body: "Roboto";
$font-body-weight: 400;

//Font size
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

$font-h1: 24px;
$font-h2: 20px;
$font-h3: 18px;
$font-h4: 18px;
