.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0;
  margin: 0;

  &__link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
