.why-choose-us-content {
  padding-top: 40px;
  margin-bottom: 100px;

  h2 {
    padding: 0 0 20px;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 20px;
  }

  ul {
    margin: 40px 0;
    padding: 0 35px;

    li {
      margin: 10px 0 0 0;
    }
  }
}
