.cta-btn-link {
  padding: 10px 0;
  background: $cta;
  color: $white;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  display: block;
  width: 200px;
  text-align: center;

  &--inline {
    display: inline-block;
  }

  &:hover {
    color: $white;
  }
}
