.hero-banner {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 40px;

  @media screen and (min-width: $lg) {
    height: 550px;
    padding-bottom: 0;
  }

  &--home {
    background: url("./img/heroBanners/hero.jpg") no-repeat left center;
    background-size: cover;
  }

  &--get-an-offer {
    background: url("./img/heroBanners/hero2.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--privacy-policy {
    background: url("./img/heroBanners/hero7.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--terms-and-conditions {
    background: url("./img/heroBanners/hero7.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--cookie-policy {
    background: url("./img/heroBanners/hero7.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--where-we-can-help {
    background: url("./img/heroBanners/hero3.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--why-choose-us {
    background: url("./img/heroBanners/hero5.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--standards-and-ethics {
    background: url("./img/heroBanners/hero4.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--contact-us {
    background: url("./img/heroBanners/hero6.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center;
    }
  }

  &--offer {
    background: url("./img/heroBanners/hero2.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center fixed;
    }
  }

  &--offer-accepted {
    background: url("./img/heroBanners/hero2.jpg") no-repeat;
    background-size: cover;

    @media screen and (min-width: $lg) {
      background-position: center center fixed;
    }
  }

  &__title {
    color: $white;
    margin: 0;
    padding: 0 0 20px;
    font-size: 40px;

    @media screen and (min-width: $md) {
      font-size: 50px;
      padding-top: 50px;
    }

    @media screen and (min-width: $lg) {
      font-size: 60px;
    }
  }

  &__intro {
    color: $white;
    font-size: $font-md;

    @media screen and (min-width: $lg) {
      padding-right: 100px;
      font-size: $font-lg;
    }
  }
}
