.submit-btn {
  margin-top: 20px;
  width: 100%;

  &__btn {
    width: 100%;
    padding: 10px;
    background: $cta;
    color: $white;
    border: none;
    border-radius: 3px;

    &:disabled {
      background: $gray-300;
    }

    &--no-send {
      &#{&} {
        display: none;
      }
    }

    &--sending {
      &#{&} {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  &__link {
    background: none;
    border: none;
    margin-bottom: 20px;
    padding: 0;
    color: $cta;
    text-decoration: underline;
  }
}
