.usp-block {
  text-align: center;
  padding: 20px;
  flex: 1;

  &:last-child {
    border-right: none;
  }

  &__icon {
    font-size: 50px;
  }

  &__title {
    font-size: $font-h3;
    margin-top: 10px;
  }

  &__text {
    margin-top: 10px;
  }
}
