.offer {
  margin-bottom: 300px;

  &__title {
    padding: 50px 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-200;
  }
  &__offer-info {
    width: 100%;
    padding: 20px;
    background: $gray-200;
    margin: 20px 0;

    @media screen and (min-width: $lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__message {
    font-size: $font-lg;
    padding: 0;
    margin: 0;
  }

  &__cash-offer {
    font-size: 40px;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $lg) {
      text-align: right;
      font-size: $font-lg;
    }
  }

  &__accept-btn {
    width: 300px;
    margin-top: 20px;
  }

  &__next-steps {
    p {
      margin-top: 5px;
    }
  }
}
