.header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  background: none;

  &__logo {
    flex-basis: 20%;

    img {
      max-width: 70%;
    }
  }

  &__navigation {
    flex-basis: 80%;
  }

  &--flex {
    display: flex;
  }
}
