.where-we-can-help-content {
  padding: 20px 0;
  @media screen and (min-width: $lg) {
    padding: 50px 0;
  }

  &__info {
    padding: 30px 20px 0 20px;

    @media screen and (min-width: $lg) {
      padding: 0 0 0 50px;
    }

    h1 {
      padding: 0 0 10px;
      margin: 0 0 20px;
      border-bottom: 1px solid $gray-300;
    }

    p {
      font-size: $font-lg;
      font-weight: 300;
      line-height: 38px;
    }
  }
}
